* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.text-center {
    text-align: center;
}

.main-nav {
    position: absolute;
    width: 100%;
    left:0;
    z-index: 11;
    padding: 0px;
    background-image:url(file:///C:/Users/nicolo%20renzo/Desktop/mp1/nic-dev01.github.io/img/gradient.png);
}

.container-fluid {
    padding: 0;
}


a.cstm-button.white:hover {
    background-color: #0a0934;
} 
body {
    font-family: "Lato", sans-serif;
    transition: 0.5s;
    margin: 0;
}


.footer {
    background-image: url(file:///C:/Users/nicolo%20renzo/Desktop/mp1/nic-dev01.github.io/img/gradient.png);
    background-size: cover;
    background-position: center;
    padding: 40px;
    margin-top: 120px;
   
    
}


.logo, .detail {
    display: inline-block;
    vertical-align: middle;
    margin-right: -5px;
}
img.cstm-logo {
    max-width: 160px;
    padding-left: 10px;
}
.detail {
    width: 70%;
}
.logo{
    width: 30%;
}
.white{
    color: #fff;
}

.blue {
    color: #fff;
}




div#myTopnav a.white {
    text-decoration: none;
    text-align: center;
    font-size: 90%;
    border: #c5c3c3;
    border-radius: 0px;
    text-decoration:none;
    overflow: hidden;
    transition: 0.5s;
    float: right;
    margin-right: 25px;
    margin-top: -0px;
}
a.cta-btn.cstm-button.black:hover {
    background-color: #020202;
    
}

h1.white {
    text-align: center;
    font-size: 270%;
    font-family: serif;
    margin: 50px;
    font-weight: bolder;
}

p {
    font-weight: bolder;
    margin-bottom: -50px;
    letter-spacing: 13px;
}


a.cstm-button.white {
    text-decoration: none;
    padding: 15px 20px;
    border-radius: 0px;
    transition: 0.5s;
    border: solid;
    border-width: thin;
}
.cstm-button.white a:hover {
    background-color: #0a0934;
    background: repeating-linear-gradient(45deg, black, transparent 100px)
}

.cstm-button.white a {
    text-decoration: none;
    font-size: 25px;
    color: #f3ecec;
    display: block;
    transition: 0.5s;
}   




a.cstm-button.black {
    text-decoration: none;
    padding: 15px 20px;
    border-radius: 0px;
    transition: 0.2s;
    border: solid;
    border-width: thin;
    color: #fff;
}
.cstm-request {
    text-align: center;
    margin-top: 40px;
    display: flex;
    justify-content: center;
}
.cstm-button.black a:hover {
    background-color: #0a0934;
    background: repeating-linear-gradient(45deg, black, transparent 100px);
    
}

.cstm-button.black a {
    text-decoration: none;
    font-size: 25px;
    color: #f3ecec;
    display: block;
    transition: 0.5s;
}





.topnav a:hover{
    background-color: #0a0934;   
    padding:5px 20px;
    
}

.topnav a {
    text-decoration: none;
    font-size: 25px;
    color: #f3ecec;
    display: block;
    transition: 0.2s;
    
}



.cstm-overlay {
    text-align: center;
    font-size: 165px;
    position: absolute;
    opacity: 0.1;
    padding: 0px 10px;
    margin: 0;
    top: -90px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    font-family: ui-sans-serif;
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 650px;
}



/* SECTION  */

.svg_divider {
    fill: currentColor;
    display: flex;
    justify-content: center;
    margin-top: -200px;
    padding: 10px 0px 30px 0px;
}

.wpb_content_element, ul.wpb_thumbnails-fluid>li {
    margin-bottom: 24px;
    margin-top: 24px;   
}

h4 {
font-family: Playfair Display,sans-serif;
font-weight: 700;
line-height: 1.1;
text-transform: uppercase;
margin-top: 27px;
margin-bottom: 13.5px;
}
.wpb_text_column.wpb_content_element {
    margin: 0px 100px 0px 100px;
}

.piko {
    text-align: center;
}
img#nikpik {
    height: 80px;
    width: 80px;
    border-radius: 45px;
    margin-top: 10px;
}

p#nic {
    word-spacing: 0px;
}
small {
    font-size: smaller;
}

/* MEDIA QUERRY */

@media screen and (max-height: 450px) {
  .topnav {padding-top: 15px;}
  .topnav a {font-size: 18px;}
}


img.cstm-social {
    width: 25px;
    margin-right: 10px;
}
.cta-sec {
    background: linear-gradient(0deg, #000000 0%, #015ec1 100%);
    margin: 35px;
    margin-bottom: 70px;
    position: relative;
    z-index: 1;
    width: 93%;
    top: 89%;
    margin-top: -50px;
    height: 300px;
}
.inner-sec {
    max-width: 800px;
    margin: auto;
    padding: 55px 0;
   
}
.cstm-half {
    display: inline-block;
    width: 49%;
    vertical-align: middle;
}
.cstm-third {
    display: inline-block;
    width: 32%;
    vertical-align: middle;
    box-shadow: 11px 13px 5px -4px rgba(0,0,0,0.41);
    -webkit-box-shadow: 11px 13px 5px -4px rgba(0,0,0,0.41);
    -moz-box-shadow: 11px 13px 5px -4px rgba(0,0,0,0.41);
    
}
.mid\.cstm-half {
    text-align: right;
}
.last.cstm-half {
    text-align: right;
}
.bg-white {
    background-color: white;
    height: 795px;
    margin-top: -75px;
    padding-top: 100px;
}


h2.text-center {
    margin-top: -55px;
    font-family: inherit;
    letter-spacing: 0px;
    font-weight: bolder;
    font-family: ui-sans-serif;
    font-size: 35px;
    letter-spacing: -2px;
}

p {
    margin-top: -5px;
    margin-bottom: 1rem;
    letter-spacing: 0px;
    font-weight: 100;
    text-align: center;
    word-spacing: 10px;
}


#bannr {
    position: relative;
}


#date {
    margin-top: -13px;
    padding: 20px 80px;
}
.cstm-two-col {
    text-align: center;
}
label.white{ 
    font-size: 12px;
    font-weight: 200;
    letter-spacing: 3px;
    text-transform: uppercase;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}


p.blue {
    letter-spacing: 0px;
    font-size: 15px;
    font-weight: 100;
    margin-bottom: -12px
}


/*Responsiveness*/
@media only screen and (max-width: 768px) {
    .cta-sec .cstm-half {
        width: 100%;
        display: block;
    }
    .banner-sec {
        padding: 0;
    }
}

img {
    width: 250px;
    
}

.cstm-third-inner {
    display: table-column-group;
    position: absolute;
    margin-top: 20px;
}
.lct {
    margin-top: 260px;
}

.pct {
    margin-left: 260px;
}

.mct {
    margin-left: 521px;
}

video {
    margin: 90px 0px 0px 5px;
}

  
  .conent {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
  }
  
  #myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    background: transparent;
    color: #fff;
    cursor: pointer;
    margin-left: 400px;
    margin-top: -60px;
    position: absolute;
    border: solid;
    border-width: thin;
  }
  
  #myBtn:hover {
    background: #16318a;
    color: black;
    
  }

/**Assitional CSS**/
  .container {
    width: 100%;
    padding: 0;
}




@media (max-width: 992px) {

}
