

.text-center {
    text-align: center;
}

.main-nav {
    position: absolute;
    width: 100%;
    left:0;
    z-index: 11;
    padding: 0px;
    background-image:url(./gradient.png);
    height: 100px;
}

.container-fluid {
    padding: 0;
}


a.cstm-button.white:hover {
    background-color: #0a0934;

} 
body {
    font-family: "Lato", sans-serif;
    transition: 0.5s;
    margin: 0;
}


.footer {
    background-position: center;
    padding: 0px;
    background-color: #11151c;
    height: 60px;
    position: relative;
    top: 40px;
    overflow: hidden;
}

.logo, .detail {
    display: inline-block;
    vertical-align: middle;
    margin-right: -5px;
}
img.cstm-logo {
    max-width: 160px;
    padding-left: 10px;
}

.logo{
    width: 30%;
}
.white{
    color: #fff;
}

.blue {
    color: #fff;
}

div#myTopnav a.white {
    text-decoration: none;
    text-align: center;
    border: #c5c3c3;
    border-radius: 0px;
    text-decoration:none;
    overflow: hidden;
    transition: 0.5s;
    float: right;
    margin-right: 25px;
    margin-top: -0px;
}


a.cta-btn.cstm-button.black:hover {
    background-color: #020202;
    
}

h1.white {
    text-align: center;
    font-size: 270%;
    font-family: serif;
    margin: 50px;
    font-weight: bolder;
}

p {
    font-weight: bolder;
    margin-bottom: -50px;
    letter-spacing: 13px;
}


a.cstm-button.white {
    text-decoration: none;
    padding: 15px 20px;
    border-radius: 0px;
    transition: 0.5s;
    border: solid;
    border-width: thin;
}
.cstm-button.white a:hover {
    background-color: #0a0934;
    background: repeating-linear-gradient(45deg, black, transparent 100px)
}

.cstm-button.white a {
    text-decoration: none;
    font-size: 25px;
    color: #f3ecec;
    display: block;
    transition: 0.5s;
}   




a.cstm-button.black {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 0px;
    transition: 0.2s;
    border: solid;
    border-width: thin;
    color: #fff;
}
.cstm-request {
    text-align: center;
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.cstm-button.black a:hover {
    background-color: #0a0934;
    background: repeating-linear-gradient(45deg, black, transparent 100px);
    
}

.cstm-button.black a {
    text-decoration: none;
    font-size: 25px;
    color: #f3ecec;
    display: block;
    transition: 0.5s;
}



.topnav a:hover {
    color: #aaa;
}
.topnav a:after {
    transition: all .2s;
}

.topnav a:hover::after{
    background-color: #0148ab;
    width: 100%;
    
}

.topnav a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #aaa;
    height: 1px;
    
}
.topnav a {
    position: relative;
    transition: all .2s;
}



.cstm-overlay {
    text-align: center;
    font-size: 145px;
    position: absolute;
    opacity: 0.1;
    padding: 0px 10px;
    margin: 0;
    top: -80px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    font-family: ui-sans-serif;
    position: unset;
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    /**height: 650px;**/
}



/* -------------------------- SECTION --------------------------------------- */

svg {
    display: flex;
    margin: auto;
}

.svg_divider {
    fill: currentColor;
    display: flex;
    justify-content: center;
    margin-top: -200px;
    padding: 10px 0px 30px 0px;
}

.wpb_content_element, ul.wpb_thumbnails-fluid>li {
    margin-bottom: 24px;
    margin-top: 24px;   
}

h4 {
font-family: Playfair Display,sans-serif;
font-weight: 700;
line-height: 1.1;
text-transform: uppercase;
margin-top: 27px;
margin-bottom: 13.5px;
}


.piko {
    text-align: center;
}
img#nikpik {
    height: 80px;
    width: 80px;
    border-radius: 45px;
    margin-top: 10px;
}

p#nic {
    word-spacing: 0px;
}
small {
    font-size: smaller;
}

h4#title {
    font-family: ui-sans-serif;
    font-weight: bold;
}


/* ---------------------------HOVER BOX TOH MAH MEN -------------------------*/

h2.hover {
    color: white;
    font-family: ui-sans-serif;
    font-weight: bolder;
    text-shadow: 1px 1px 1px black;
}

p.hover {
    text-align: start;
    text-shadow: 1px 1px 1px black;
}
.hoverbox_text {
    color: white;
    
}




.sec-content {
    display: inline-flex;
    justify-content: center;
    gap: 1.5rem;
    margin-top: -150px;
    height: 500px;
}



body {
    padding: 40px;
}

/* Animation */

@keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

.hoverbox.wpb_content_element.black_section.neutralize_links.stretchy_wrapper.ratio_2-3:hover .animated {
    animation-duration: .2s;
    animation-fill-mode: both;
    -webkit-animation-duration: .2s;
    -webkit-animation-fill-mode: both
}

.hoverbox.wpb_content_element.black_section.neutralize_links.stretchy_wrapper.ratio_2-3:hover .animatedFadeInUp {
    opacity: 0
}

.hoverbox.wpb_content_element.black_section.neutralize_links.stretchy_wrapper.ratio_2-3:hover .fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}
.animated.animatedFadeInUp.fadeInUp {
    visibility: hidden;
}
.hoverbox.wpb_content_element.black_section.neutralize_links.stretchy_wrapper.ratio_2-3:hover .animated.animatedFadeInUp.fadeInUp {
    visibility: visible;
} 



/* ----------------------------THIRD SEC-------------------------------------- */
.bttm {
    background-color: #e6edef;
}


a.cta-btn.cstm-btm.black:hover {
    background-color: #020202;
    color: #f1f1f1;
    
}
a.cstm-btm.black {
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 0px;
    transition: 0.2s;
    border: solid;
    border-width: thin;
    color: #0c0c0c;
}
.cstm-bttm {
    text-align: center;
    display: flex;
    justify-content: center;

}
p.bttm {
    margin-bottom: 0;
    padding: 50px;
    word-spacing: 0;
}

h2.bttm {
    text-align: center;
    margin-bottom: 0;
    font-family: ui-sans-serif;
    font-weight: bolder;
    font-size: 50px;
    padding: 0px 0px 40px;
    
}




/* ----------------------- LAST SECTION -----------------------------------*/
carousel-control-prev-icon, .carousel-control-next-icon {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-repeat: repeat;
    background-position: 50%;
    background-size: 100% 100%;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-repeat: repeat;
    background-position: 50%;
    background-size: 100% 100%;
}

.last-sec {
    background-color: black;
    height: 660px;
    position: relative;
    background-size: cover;
}

.lst {
    padding: 160px 25px 124px 280px;
    position: absolute;
}
h5 {
    font-family: ui-sans-serif;
    font-weight: bolder;
    text-shadow: -1px 1px 2px black;
    margin: revert;
    font-size: 50px;
}

h5#lst {
    
    font-weight: bolder;
}
.carousel-indicators {
    height: 200px;
    align-items: end;
}
.carousel-dark .carousel-indicators [data-bs-target] {
    background-color: #fffafa;
}

.carousel-dark .carousel-control-next-icon {
    filter: none;
}
img.edited {
    
    z-index: 1;
    top: 160px;
    left: 30px;
    height: 350px;
} 


.carousel-caption.d-none.d-md-block {
    top: 100px;
    font-size: 20px;
    text-shadow: 0px 1px 2px black;
}



.tstimonials {
    text-align: center;
}
h6#tstimonials{
    font-size: 40px;
    font-family: ui-sans-serif;
    font-weight: bolder;
    margin: auto;
}

/* <--------------------- MEDIA QUERRY --------------------> */

/* @media screen and (max-height: 450px) {


  .topnav {padding-top: 15px;}
  .topnav a {font-size: 18px;}




} */


img.cstm-social {
    width: 25px;
    margin-right: 10px;
}
.cta-sec {
    background: linear-gradient(0deg, #000000 0%, #015ec1 100%);
    position: relative;
    z-index: 1;

}
.inner-sec {
    max-width: 800px;
    margin: auto;
    padding: 64px 0;
   
}



.cstm-half {
    display: inline-block;
    width: 49%;
    vertical-align: middle;
}
.cstm-third {
    display: inline-block;
    width: 32%;
    vertical-align: middle;
    box-shadow: 11px 13px 5px -4px rgba(0,0,0,0.41);
    -webkit-box-shadow: 11px 13px 5px -4px rgba(0,0,0,0.41);
    -moz-box-shadow: 11px 13px 5px -4px rgba(0,0,0,0.41);
    
}
.mid\.cstm-half {
    text-align: right;
}
.last.cstm-half {
    text-align: right;
}
.bg-white {
    background-color: white;
    height: 795px;
    margin-top: -75px;
    padding-top: 100px;
}


h2.text-center {
    margin-top: -70px;
    font-family: inherit;
    letter-spacing: 0px;
    font-weight: bolder;
    font-family: ui-sans-serif;
    font-size: 35px;
    letter-spacing: -2px;
}

p {
    margin-top: -5px;
    margin-bottom: 1rem;
    letter-spacing: 0px;
    font-weight: 100;
    text-align: center;
    word-spacing: 10px;
}


#bannr {
    position: relative;
}


#date {
    margin-top: -13px;
    padding: 20px 80px;
}
.cstm-two-col {
    text-align: center;
}
label.white{ 
    font-size: 12px;
    font-weight: 200;
    letter-spacing: 3px;
    text-transform: uppercase;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: -20px;
}


p.blue {
    letter-spacing: 0px;
    font-size: 15px;
    font-weight: 100;
    margin-bottom: -12px



    
}


/*Responsiveness*/

@media only screen and (max-width: 800px) {
    .cta-sec .cstm-half {
        width: 100%;
        display: block;
        left: 25px !important;
    }
    .banner-sec {
        padding: 0; 
    }

    .cta-sec{
        left: 27px !important;
        margin-bottom: 70px;
        width: 93%;
        height: 290px;
        position: absolute;
        height: 290px;
    }

    .sec-container {
        height: 500px;
       
    }

    div#myTopnav {
        font-size: 9px;
    }
    .first-text.hoverbox_container.animated.animatedFadeInUp.fadeInUp {
        font-size: 60px;
    }
    .sec-container.p-4 {
        display: inline-flex;
        gap: 1rem;
    }
}




img {
    width: 250px;
    
}

.cstm-third-inner {
    display: table-column-group;
    position: absolute;
    margin-top: 20px;
}
.lct {
    margin-top: 260px;
}

.pct {
    margin-left: 260px;
}

.mct {
    margin-left: 521px;
}

video {
    margin: 90px 0px 0px 5px;
}

  
  .conent {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
  }
  
  #myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    background: transparent;
    color: #fff;
    cursor: pointer;
    margin-left: 400px;
    margin-top: -60px;
    position: absolute;
    border: solid;
    border-width: thin;
  }
  
  #myBtn:hover {
    background: #16318a;
    color: black;
    
  }

/**Assitional CSS**/
  .container {
    width: 100%;
    padding: 0;
}
.cstm-test{
padding:50px 220px 0px 220px;
}


/* 
@media (max-width:400PX){
    a.cstm-button.main {
        padding: 3px 5px;    
      }
} */



@media (max-width: 489px) {
.hoverbox.wpb_content_element.black_section.neutralize_links.stretchy_wrapper.ratio_2-3 {
    width: 100%!important;
}
.cstm-overlay {
    font-size: 65px!important;
    position:relative!important;
}
.bg-white {
    height: 100%!important;
}
.lst {
    padding: 10px;
}
.cstm-test {
    padding: 0;
}
.wdget {
    display: block!important;
}
img.cstm-logo {
    max-width: 85px;
}
.cstm-request {
    margin-top: 0;
    
}

  div#myTopnav {
    margin-left: 128px;
    font-size: 3px;
    margin-top: -56px;
}
.main-nav{
height: 65px;
}
.cstm-two-col {
    margin-bottom: 34px;
}


h5#lst {
    font-size: 40px;
    margin-top: -50px;
}
h2.text-center{
    margin-top: -136px;
    font-size:19px; 
}
#date {
    margin-top: -13px;
    padding: 8px 23px;
}
label.white{
margin-top: 14px;
}
.inner-sec {
    padding: 25px 0px 50px 0px;
}

.services-sec.bg-white {
    padding-top: 135px;
}

.logo {
    display: flex;
    position: relative;
}

}


/* *********************************************************************** */

@media (min-width:850px) {
    h5, .h5 {
        font-size: 42px;
        margin-top: -72px;
    }

    .carousel-indicators {
        top: 300px!important;
    }

    .cta-sec {
        margin-bottom: 70px;
        width: 93%;
        height: 290px;
        position: absolute;
        height: 290px;
        left: 50px;
    }




    .sec-container {
        display: inline-flex;
        justify-content: center;
        gap: 1.5rem;
        
        height: 500px;
        
    }

    .inner-sec {
        padding: 32px 0;
    }

    #date {
        margin-top: 0;
        padding: 10px 80px;
    }

    label.white {
        margin-top: 24px;
        font-size: 10;

    }
    .wpb_text_column.wpb_content_element {
        margin: 0px 100px 0px 100px;
    }
    .sec-container {
        display: inline-flex;
        justify-content: center;
        gap: 1.5rem;
        width: 64%;
    }
    img.edited {
        position: absolute;
    }
    .first-text.hoverbox_container.animated.animatedFadeInUp.fadeInUp {
        font-size: 110px;
    }
   
    section#activities {
        display: flex;
        justify-content: center; 
        position: relative;   
    }
}

    .detail {
        
        font-size: 13px;
        width: 70%;
    }

    a.cstm-button.black {
        margin-top:24px;
    }
    .cstm-two-col {
        display: flex;
    }

        /* full */

    .cstm-button.main{
        padding: 15px 30px;
        }
        
    
        .cstm-overlay {
        margin-top: 150px;
        }
        h2.text-center {
            margin-top: -143px;
        }
        .p-4 {
            margin-top: 100px;
        }
      
        div#myTopnav a.white {
        font-size: 120%;
        }
        h5#lst {
            font-size: 50px;
        }




/**New CSS**/

.hoverbox.wpb_content_element.black_section.neutralize_links.stretchy_wrapper.ratio_2-3 {
    width: 33%;
    padding: 50px 20px;
    position: relative;
    display: inline-block;
    min-height: 400px;
    vertical-align: top;
}
body {
    padding: 40px;
}

/* Animation */

@keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

.hoverbox.wpb_content_element.black_section.neutralize_links.stretchy_wrapper.ratio_2-3:hover .animated {
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both
}

.hoverbox.wpb_content_element.black_section.neutralize_links.stretchy_wrapper.ratio_2-3:hover .animatedFadeInUp {
    opacity: 0
}

.hoverbox.wpb_content_element.black_section.neutralize_links.stretchy_wrapper.ratio_2-3:hover .fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}
.animated.animatedFadeInUp.fadeInUp {
    visibility: hidden;
}
.hoverbox.wpb_content_element.black_section.neutralize_links.stretchy_wrapper.ratio_2-3:hover .animated.animatedFadeInUp.fadeInUp {
    visibility: visible;
} 

/**Fade Up**/

.cstm-banner .animated {
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 2s;
    -webkit-animation-fill-mode: both
}

.cstm-banner .animatedFadeInUp {
    opacity: 0
}

.cstm-banner .fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}
.animated.animatedFadeInUp.fadeInUp {
    visibility: hidden;
}
.cstm-banner .animated.animatedFadeInUp.fadeInUp {
    visibility: visible;
} 

.cstm-banner {
    position: absolute;
    z-index: 1;
    bottom: 30%;
    left: 0;
    right: 0;
}


.cstm-bannr .animated {
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 2s;
    -webkit-animation-fill-mode: both
}


.cstm-bannr .animatedFadeInUp {
    opacity: 0
}

.cstm-bannr .fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}
.animated.animatedFadeInUp.fadeInUp {
    visibility: hidden;
}
.cstm-bannr .animated.animatedFadeInUp.fadeInUp {
    visibility: visible;
} 


.cstm-bannr {
    position: absolute;
    z-index: 1;
    bottom: 43%;
    left: 0;
    right: 0;
}

.first-text {
    text-align: center;
}

.first-text.hoverbox_container.animated.animatedFadeInUp.fadeInUp {
    
    font-family: ui-sans-serif;
    font-weight: bolder;
    color: white;
    line-height: 1;
}

a.cta-btn.cstm-button.main:hover {
    background-color: #0148ab;
}


a.cstm-button.main {
    text-decoration: none;
    
    border-radius: 0px;
    transition: 0.2s;
    border: solid;
    border-width: thin;
    color: #fff;
}
.cstm-banner a {
    font-size: 12px;
}
.cstm-bannr a {
    font-size: 12px;
}


.cstm-button.black a:hover {
    background-color: #0a0934;
    background: repeating-linear-gradient(45deg, black, transparent 100px);
    
}

.cstm-button.main a {
    text-decoration: none;
    font-size: 25px;
    color: #f3ecec;
    display: block;
    transition: 0.5s;
}

h6#tstimonials {
    padding-top: 6rem;
}

p#tstimonials {
    font-family: system-ui;
    margin: 0;
}

img.svg {
    width: 150px;
    margin-top: 35px;
}

a#bordr {
    background-color: #1559d3;
    padding: 5px 10px;
    top: -4px;
}
p.footr {
    color: white;
    font-size: 11px;
    text-align: center;
    word-spacing: 0px;
    
    padding-top: 22px;
    padding-left: 10px;
}
.cstm-inline.col-sm-4 {
    text-align: -webkit-center;
}
img.owl {
    width: 45px;
    padding-top: 7px;
}

a.fotr {
    text-decoration: none;
    color: white;
    font-size: 12px
}

.cstm-inline.col-sm-4.fter {
    text-align: -webkit-auto;
    padding-top: 18px;
    word-spacing: 30px;
}


p.contact_detail {
    color: white;
}

.widget {
    background-color: black;
    margin-top: 40px;
}
img.divider {
    width: 150px;
}

img.dividr {
    width: 150px;
}
.dividr {
    text-align: center;
}



img.widget {
    width: 120px;
    margin-top: 10px;
}

p.widget {
    color: #b3a9a9;
}

.wdget {
    display: flex;
    justify-content: space-around;
}
.scnd-cntainer {
    background-color: #edeceb;
}